<!DOCTYPE html>
<html>

<body>
  <a href="https://vuejs.org/v2/guide/components.html" target='_blank'> reference </a>
  <div id="blog-post-demo">
    <h1>{{ message }}</h1>

    <ul>
      <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:title="post.title"></blog-post>
    </ul>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
<script>
  Vue.component('blog-post', {
    props: ['title'],  // <==
    template: '<li>{{ title }}</li>'
  })

  var app = new Vue({
    el: '#blog-post-demo',
    data: {
      message: 'demo component',
      posts: [
        { id: 1, title: 'My journey with Vue' },
        { id: 2, title: 'Blogging with Vue' },
        { id: 3, title: 'Why Vue is so fun' }
      ]
    }
  })
</script>

</html>